/* =========================
   FINLAY.EXE
   PORTFOLIO DATABASE
========================= */


.portfolio-header {

    text-align:center;

    margin-top:50px;

}



.portfolio-header h1 {

    color:#7fbf45;

    font-size:38px;

    letter-spacing:3px;

    text-shadow:
        3px 3px #000;

}



.portfolio-header p {

    color:#91a98b;

    font-size:11px;

    margin-top:20px;

}





/* =========================
   CATEGORY SECTIONS
========================= */


.portfolio-section {

    margin-top:70px;

}



.portfolio-section h2 {

    color:#7fbf45;

    margin-bottom:25px;

    font-size:20px;

}







/* =========================
   PROJECT GRID
========================= */


.portfolio-grid {

    display:grid;

    grid-template-columns:
        repeat(3,1fr);

    gap:25px;

}





.portfolio-card {


    background:#080d08;


    border:

        2px solid #355f22;


    border-radius:6px;


    overflow:hidden;


    transition:.2s;


}





.portfolio-card:hover {


    border-color:#7fbf45;


    transform:

        translateY(-5px);


}






.portfolio-card img {


    width:100%;


    height:200px;


    object-fit:cover;


}






.portfolio-card h3 {


    padding:15px;


    color:#7fbf45;


    font-size:13px;


}





.portfolio-card p {


    padding:

        0 15px 15px;


    color:#91a98b;


    font-size:10px;


    line-height:1.8;


}






.portfolio-card a {


    display:block;


    margin:15px;


    padding:12px;


    text-align:center;


    color:#071007;


    background:


        linear-gradient(
            #8fcf55,
            #355f22
        );


    border:

        2px solid #7fbf45;


    text-decoration:none;


    font-size:10px;


}







/* =========================
        MOBILE
========================= */


@media(max-width:1000px){


    .portfolio-grid {


        grid-template-columns:

            repeat(2,1fr);


    }


}



@media(max-width:600px){


    .portfolio-grid {


        grid-template-columns:1fr;


    }



    .portfolio-header h1 {


        font-size:25px;


    }


} 